<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div class="ui small inverted menu">
    <div class ="ui container">
      <%=link_to 'Chat room', root_path, class: 'item' %>
      <a class="item">
        Messages
      </a>
      <div class="right menu">
        <div class="ui dropdown item">
          Account <i class="dropdown icon"></i>
          <div class="menu">
            <% if logged_in? %>
              <%=link_to 'Logout', logout_path, class: 'item', method: :delete%>
            <%end %>
            <% if !logged_in? %>
              <%=link_to 'Login', login_path, class: 'item' %>
              <%=link_to 'Signup', signup_path, class: 'item' %>
            <%end %>
          </div>
        </div>
        <div class="item">
          <div class="ui primary button">Sign Up</div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>